
<%- include ('partials/header.ejs') %>
<body onload="inRunningTime()">
    <div class="container">
       
    <h1>Teste concluido</h1>
        

    </div>
</body>

<%- include ('partials/footer.ejs') %>